html, body {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 100px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 100px;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .card-body {
    text-align: center;
  }

  .vote-buttons {
    margin-top: 50px !important;
    text-align: center !important;
  }
}

.vote-icon {
  width: 80px;
  height: 80px;
  margin: 0 20px 0 20px;
  transform: rotate(35deg);
}

.vote-buttons {
  margin-top: 10px;
  text-align: right;
}

/* **************************************** */
/* MARGINS AND PADDINGS */
/* **************************************** */
@media (min-width: 768px) {

  .pt-md-6,
  .py-md-6 {
    padding-top: 6rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 6rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 6rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 6rem !important;
  }

  .mt-md-6,
  .my-md-6 {
    padding-top: 6rem !important;
  }

  .mr-md-6,
  .mx-md-6 {
    padding-right: 6rem !important;
  }

  .mb-md-6,
  .my-md-6 {
    padding-bottom: 6rem !important;
  }

  .ml-md-6,
  .mx-md-6 {
    padding-left: 6rem !important;
  }
}

.pt-6,
.py-6 {
  padding-top: 6rem !important;
}

.pr-6,
.px-6 {
  padding-right: 6rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 6rem !important;
}

.pl-6,
.px-6 {
  padding-left: 6rem !important;
}

.mt-6,
.my-6 {
  padding-top: 6rem !important;
}

.mr-6,
.mx-6 {
  padding-right: 6rem !important;
}

.mb-6,
.my-6 {
  padding-bottom: 6rem !important;
}

.ml-6,
.mx-6 {
  padding-left: 6rem !important;
}
